{% extends 'base.html' %}

{% block content %}
<body>
    <section class="card text-center card card-header">
        <h1 class="card text">Group 5</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
        
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam modi consectetur ad, ipsum, repudiandae veritatis, perferendis aperiam itaque reprehenderit sunt minima quisquam deleniti error? Possimus porro praesentium aut quam minima?
        </p>
    </section>

</body>


{% endblock %}