{% extends 'base.html' %}


{% block content %}

<body>
    <section class="card text-center card card-header">
    <h1 class="text-center">Terminos y Condiciones</h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia reprehenderit dignissimos veniam earum quasi, accusantium placeat blanditiis qui tempora sunt consequatur neque possimus, pariatur sit iste nihil eveniet assumenda ducimus.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat vitae, sed magnam nam corporis molestias ipsam exercitationem odit repellat sint officiis ratione illo illum repellendus laboriosam officia id iusto quam.
    </p>
    </section>
</body>

{% endblock %}